@use '../custom' as *;
// GRADIENT MIXIN
@mixin gradient {
    // background: linear-gradient(to right,rgba($primary,0.95),rgba($secondary,0.95));
    // background: linear-gradient(315deg,#89ff00,#00bcd4);
    background: linear-gradient(35deg,#ff0057,#e64a19);
}
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
    
}
@mixin gradientSidebar {
    background: linear-gradient(to right,rgba($primary,0.95),rgba($secondary,0.95));
}